header {
    padding: 50px;
    background-color: blue;
    text-align: center;
    border-top-color: orange;
    border-top-style: solid;
    border-style: dotted;
    border-block-start-width: 15px;
    font: italic bold 50px/30px Georgia, serif;
}

p {
    padding: 15px;
    background-color: orangered;
    text-align: justify;
    border-bottom-color: silver;
    font: italic bold 25px/30px Georgia, serif;
}

div {
    padding: 5%;
    background-color: rgba(255, 127, 80, 0.308);
    border-inline-end-style: double;
    font: italic bold 25px/30px Georgia, serif;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

h3 {
    background-color: aquamarine;
}

.cards-content {
    min-height: auto;
    max-height: auto;
    min-width: auto;
    max-width: auto;
}

.card-deck {}