header {
    padding: 50px;
    background-color: blue;
    text-align: center;
    border-top-color: orange;
    border-top-style: solid;
    border-style: dotted;
    border-block-start-width: 15px;
}

p {
    padding: 50px;
    background-color: orangered;
    text-align: justify;
    border-bottom-color: silver;
}

div {
    padding: 5%;
    background-color: rgba(255, 127, 80, 0.308);
    border-style: dotted;
}